@import-normalize;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  min-height: 100vh;
  margin: 0 auto;
  background-color: var(--bg-color-1);
  color: var(--font-color-1);
}

/* Soft CSS Reset */
*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

/* colors */
/* Color naming should increase from 1. (1 as main )*/
:root {
  --font-color-1: #212121;
  --bg-color-1: #ffffff;
  --link-color-1: #03a9f4;
  --green: #32a852;
  --blue: #387bff;
  --red: #df4747;
  --grey: #5f5f5f;
}

[data-theme='dark'] {
  --font-color-1: #ffffff;
  --bg-color-1: #212121;
  --link-color-1: #03a9f4;
  --green: #32a852;
  --blue: #387bff;
  --red: #df4747;
  --grey: #5f5f5f;
}